@charset "UTF-8";
$commentface-border-color: #BBB;

.md a[href^="#im/"],
.md a[href^="#anim/"] {
  background-origin: border-box;
  border: 2px outset $commentface-border-color;
  color: $white-color !important;
  cursor: default;
  display: inline-block;
  font-family: verdana,sans-serif;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
  text-shadow:
     0.5px  0.5px 0px $black-color,
     0.5px -0.5px 0px $black-color,
    -0.5px  0.5px 0px $black-color,
    -0.5px -0.5px 0px $black-color,
     0.5px  0.5px 1px $black-color,
     0.5px -0.5px 1px $black-color,
    -0.5px  0.5px 1px $black-color,
    -0.5px -0.5px 1px $black-color;

  > strong {
    display: block;
    font-weight: normal;
    width: 100%;
  }
}

.md a[href^="#anim/"] {
  &:not(:hover)::before {
    background: url(%%play-animation%%) -0px -0px no-repeat;
    content: "";
    display: block;
    height: 64px;
    transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    width: 64px;
  }
}

$image-macro-animated: (
  itsuki-applause: (
    id: 'itsuki-applause',
    image: 'url(%%image-macros%%)',
    width: 160px, height: 90px,
    x: -320px,
    y0: -1440px, y1: -1440px, y2: -2160px,
    lead-duration: 0s, lead-steps: 1,
    loop-duration: 0.90s, loop-steps: 8,
  ),
  fuu-fufufu: (
    id: 'fuu-fufufu',
    image: 'url(%%image-macros%%)',
    width: 160px, height: 90px,
    x: -480px,
    y0: -1440px, y1: -1440px, y2: -2160px,
    lead-duration: 0s, lead-steps: 1,
    loop-duration: 0.90s, loop-steps: 8,
  ),
  mimori-smile: (
    id: 'mimori-smile',
    image: 'url(%%mimori-smile-frames%%)',
    width: 160px, height: 90px,
    x: -0px,
    y0: -0px, y1: -0px, y2: -3420px,
    lead-duration: 0s, lead-steps: 1,
    loop-duration: 2.85s, loop-steps: 38,
  ),
  karin-wat: (
    id: 'karin-wat',
    image: 'url(%%image-macros%%)',
    width: 160px, height: 90px,
    x: -160px,
    y0: -1440px, y1: -1440px, y2: -2160px,
    lead-duration: 0s, lead-steps: 1,
    loop-duration: 0.60s, loop-steps: 8,
  ),
  sonoko-surprise: (
    id: 'sonoko-surprise',
    image: 'url(%%image-macros%%)',
    width: 160px, height: 90px,
    x: -0px,
    y0: -0px, y1: -720px, y2: -2160px,
    duration: 3.5s, steps: 24,
    lead-duration: 1.0s, lead-steps: 8,
    loop-duration: 2.0s, loop-steps: 16,
  ),
  yuuna-glomp: (
    id: 'yuuna-glomp',
    image: 'url(%%image-macros%%)',
    width: 160px, height: 90px,
    x: -160px,
    y0: -0px, y1: -1440px, y2: -1440px,
    duration: 3.5s, steps: 16,
    lead-duration: 1.0s, lead-steps: 16,
    loop-duration: 0s, loop-steps: 1,
  ),
  yuuna-soexcited: (
    id: 'yuuna-soexcited',
    image: 'url(%%image-macros%%)',
    width: 160px, height: 90px,
    x: -320px,
    y0: -0px, y1: -0px, y2: -1440px,
    lead-duration: 0s, lead-steps: 1,
    loop-duration: 1.20s, loop-steps: 16,
  ),
  yuuna-victory: (
    id: 'yuuna-victory',
    image: 'url(%%image-macros%%)',
    width: 160px, height: 90px,
    x: -480px,
    y0: -0px, y1: -0px, y2: -1440px,
    lead-duration: 0s, lead-steps: 1,
    loop-duration: 2.25s, loop-steps: 16,
  ),
);

@each $im-id, $value in $image-macro-animated {
  $im-id: map-get($value, id);

  .md a[href="#im/#{$im-id}"], .md a[href="#anim/#{$im-id}"] {
    display: inline-block;
    height: #{map-get($value, height)};
    width: #{map-get($value, width)};
    background: #{map-get($value, image)} #{map-get($value, width)} #{map-get($value, height)} no-repeat;
    background-position: #{map-get($value, x)} #{map-get($value, y0)};
  }

  @keyframes anim-#{$im-id}-lead {
    from { // #{map-get($value, x0)} 
      background-position-y: #{map-get($value, y0)};
    }
    to { // #{map-get($value, x1)}
      background-position-y: #{map-get($value, y1)};
    }
  }

  @keyframes anim-#{$im-id}-loop {
    from { // #{map-get($value, x1)}
      background-position-y: #{map-get($value, y1)};
    }
    to { // #{map-get($value, x2)}
      background-position-y: #{map-get($value, y2)};
    }
  }
  
  .md a[href="#anim/#{$im-id}"]:hover {
    animation-name: anim-#{$im-id}-lead, anim-#{$im-id}-loop;
    animation-duration: #{map-get($value, lead-duration)}, #{map-get($value, loop-duration)};
    animation-timing-function: steps(#{map-get($value, lead-steps)}, end), steps(#{map-get($value, loop-steps)}, end);
    animation-delay: 0s, #{map-get($value, lead-duration)};
    animation-iteration-count: 1, infinite;
    animation-play-state: running, running;

    //animation: anim-#{$im-id} #{map-get($value, duration)} steps(#{map-get($value, steps)}, end) infinite paused;
    //-webkit-animation: anim-#{$im-id} #{map-get($value, duration)} steps(#{map-get($value, steps)}, end) infinite paused;
    //animation-fill-mode: forwards;
  }
}

$image-macro-simple: (
  everything-is-daijoubu: (
    image: 'url(%%everything-is-daijoubu%%)',
    width: 320px, height: 180px,
    x: -0px, y: -0px,
    types: (""),
  ),
  itsuki-writing: (
    image: 'url(%%itsuki-writing%%)',
    width: 160px, height: 160px,
    x: -0px, y: -0px,
  ),
  fuu-contract: (
    image: 'url(%%fuu-contract%%)',
    width: 320px, height: 180px,
    x: -0px, y: -0px,
    types: ("/accept", "/decline"),
  ),
);
@each $im-id, $value in $image-macro-simple {
  .md a[href^="#im/#{$im-id}"] {
    display: inline-block;
    height: #{map-get($value, height)};
    width: #{map-get($value, width)};
    background: #{map-get($value, image)} #{map-get($value, x)} #{map-get($value, y)} no-repeat;
  }

  @if map-has-key($value, types) {
    @each $sub in map-get($value, types) {
      $i: index(map-get($value, types), $sub);
      $off: (map-get($value, y) - $i * map-get($value, height));

      .md a[href^="#im/#{$im-id}#{$sub}"] {
        &:hover {
          background-position: #{map-get($value, x)} #{$off};
        }
        &:not(:hover) > strong {
          font-size: 0px;
        }
        &:hover {
          font-size: 0px;
        }
        &:hover > strong {
          font-size: 14px;
        }
      }
    }
  }
}

.md a[href="#im/itsuki-writing"] {
  color: $black-color !important;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 10px;
  padding-left: 34px;
  padding-right: 31px;
  padding-top: 90px;
  text-shadow: inherit;

  > strong {
    display: inherit;
    font-weight: bold;
    text-align: inherit;
    width: auto;
  }
  > em {
    color: black !important;
  }
}
