@charset "UTF-8";

.flair {
  border: 0;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.flair.flair-graphic {
  @include border-radius(25px);
  height: 50px;
  line-height: 40px;
  max-height: 50px;
  min-height: 50px;
  min-width: 50px;
  text-indent: 50px;
  padding: 5px 10px;
  font-weight: bold;
  /*text-shadow:
     0.1px  0.1px 0px $black-color,
     0.1px -0.1px 0px $black-color,
    -0.1px  0.1px 0px $black-color,
    -0.1px -0.1px 0px $black-color,
     0.1px  0.1px 0.2px $black-color,
     0.1px -0.1px 0.2px $black-color,
    -0.1px  0.1px 0.2px $black-color,
    -0.1px -0.1px 0.2px $black-color;*/
  transition: text-indent 0.25s ease;
}

.flair.flair-graphic::before {
  border: 0;
  content: "";
  display: inline-block;
  overflow: hidden;
  padding: 0;
  @include transform(scale(0.5, 0.5));
  width: 80px;
  height: 80px;
  vertical-align: middle;
}

$graphic-flairs: (
  ('yuna',   #EBCCCC, 0, "Yūki Yūna", $black-color),
  ('mimori', #636B73, 1, "Tōgō Mimori", $white-color),
  ('fu',     #EAE96B, 2, "Inubōzaki Fū", $black-color),
  ('itsuki', #A2D792, 3, "Inubōzaki Itsuki", $black-color),
  ('karin',  #CC6065, 4, "Miyoshi Karin", $white-color),
  ('sonoko', #90819E, 5, "Nogi Sonoko", $black-color),
  ('gin',    #E07B59, 6, "Minowa Gin", $black-color),
  ('wakaba', #6FA5ED, 7, "Nogi Wakaba", $black-color),
  ('hinata', #C16964, 8, "Uesato Hinata", $black-color),
  ('tamako', #EDAE6A, 9, "Doi Tamako", $black-color),
  ('anzu',   #A8BFED, 10, "Iyojima Anzu", $black-color),
  //('', #000000, 11, "Kōri Chikage"),
  //('', #000000, 12, "Takashima Yūna"),
  //('', #000000, 13, "Shiratori Utano"),
);

$dims: (
  'x': (
    ('0', 0), ('1', -80px), ('2', -160px), ('3', -240px),
    ('4', -320px), ('5', -400px), ('6', -480px), ('7', -560px),
    ('8', -640px), ('9', -720px), ('A', -800px), ('B', -880px),
    ('C', -960px), ('D', -1040px), ('E', -1120px), ('F', -1200px),
  ),
  'y': (
    ('0', 0), ('1', -80px), ('2', -160px), ('3', -240px),
    ('4', -320px), ('5', -400px), ('6', -480px), ('7', -560px),
    ('8', -640px), ('9', -720px), ('A', -800px), ('B', -880px),
    ('C', -960px), ('D', -1040px), ('E', -1120px), ('F', -1200px),
  ),
  'z': (
    ('0', 'userflair'),
  ),
  'c': (
    ('0', #EBCCCC, $black-color),
    ('1', #636B73, $white-color),
    ('2', #EAE96B, $black-color),
    ('3', #A2D792, $black-color),
    ('4', #CC6065, $white-color),
    ('5', #90819E, $black-color),
    ('6', #E07B59, $black-color),
    ('7', #6FA5ED, $black-color),
    ('8', #C16964, $black-color),
    ('9', #EDAE6A, $black-color),
//    ('A', #A8BFED, $black-color),
//    ('B', #A8BFED, $black-color),
//    ('C', #A8BFED, $black-color),
//    ('D', #A8BFED, $black-color),
//    ('E', #A8BFED, $black-color),
//    ('F', #A8BFED, $black-color),
  ),
);

@each $xv in map-get($dims, 'x') {
  $xi: nth($xv, 1);
  $xpos: nth($xv, 2);

  .flair-x#{$xi}::before {
    background-position-x: $xpos;
  }
}
@each $yv in map-get($dims, 'y') {
  $yi: nth($yv, 1);
  $ypos: nth($yv, 2);

  .flair-y#{$yi}::before {
    background-position-y: $ypos;
  }
}
@each $zv in map-get($dims, 'z') {
  $zi: nth($zv, 1);
  $zsrc: nth($zv, 2);

  .flair-z#{$zi}::before {
    background-image: url(%%#{$zsrc}%%);
  }
}
@each $cv in map-get($dims, 'c') {
  $ci: nth($cv, 1);
  $cbg: nth($cv, 2);
  $cct: nth($cv, 3);
  .flair-c#{$ci} {
    background-color: $cbg;
    color: $cct;
  }
}
