@charset "UTF-8";

@mixin color($color) {
  color: #{$color};
}

@mixin bgcolor($bgcolor) {
  background: #{$bgcolor};
}

@mixin bgcolor-hover-lighten($bgcolor, $amount) {
  &:hover {
    background: #{lighten($bgcolor, $amount)};
  }
}
@mixin bgcolor-hover-darken($bgcolor, $amount) {
  &:hover {
    background: #{darken($bgcolor, $amount)};
  }
}

@mixin transform($transform) {
  transform: #{$transform};
  -ms-transform: #{$transform};
  -webkit-transform: #{$transform};
}

@mixin diagonal-background {
  background: repeating-linear-gradient( 45deg, $gradient-color-0 0%, $gradient-color-0 1%, $gradient-color-1 1%, $gradient-color-1 2%);
  background-size: 256px 256px;
}

@mixin border-radius($radius) {
  // -webkit-border-radius: $radius;
  // -moz-border-radius: $radius;
  // -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow {
  box-shadow: 1px 1px 4px $black-color;
}

@mixin bgimage-lookup($id, $scale, $x, $y, $w, $h) {
  background-image: url(%%#{$id}%%);
  background-position: #{-($x * $scale)} #{-($y * $scale)};
  background-repeat: no-repeat;
  width: #{($w * $scale)};
  height: #{($h * $scale)};
}

@mixin bgimage-sprites($x, $y, $w, $h) {
  @include bgimage-lookup("sprites", 32px, $x, $y, $w, $h);
}

@mixin no-horizontal-padding($padding) {
  margin-left: -$padding;
  margin-right: -$padding;
}
