@charset "UTF-8";

@mixin color($color) {
  color: #{$color};
}

@mixin bgcolor($bgcolor) {
  background: #{$bgcolor};
}

@mixin bgcolor-hover-lighten($bgcolor, $amount) {
  &:hover {
    background: #{lighten($bgcolor, $amount)};
  }
}
@mixin bgcolor-hover-darken($bgcolor, $amount) {
  &:hover {
    background: #{darken($bgcolor, $amount)};
  }
}

@mixin transform($transform) {
  transform: #{$transform};
  -ms-transform: #{$transform};
  -webkit-transform: #{$transform};
}

@mixin v-gradient-background($color-0: rgba(255, 255, 255, 0), $color-1: rgba(255, 255, 255, 0)) {
  background: $color-0;
  background: -moz-linear-gradient(top, $color-0 0%, $color-1 100%);
  background: -webkit-linear-gradient(top, $color-0 0%, $color-1 100%);
  background: -o-linear-gradient(top, $color-0 0%, $color-1 100%);
  background: -ms-linear-gradient(top, $color-0 0%, $color-1 100%);
  background: linear-gradient(to bottom, $color-0 0%, $color-1 100%)
}

@mixin diagonal-background($color-0: #444444, $color-1: #4c4c4c) {
  background: repeating-linear-gradient(45deg, $color-0 0%, $color-0 1%, $color-1 1%, $color-1 2%);
  background-size: 256px 256px;
}

@mixin border-radius($radius) {
  // -webkit-border-radius: $radius;
  // -moz-border-radius: $radius;
  // -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($color: #000000) {
  box-shadow: 1px 1px 4px $color;
}

@mixin bgimage-lookup($id, $scale, $x, $y, $w, $h) {
  background-image: url(%%#{$id}%%);
  background-position: #{-($x * $scale)} #{-($y * $scale)};
  background-repeat: no-repeat;
  width: #{($w * $scale)};
  height: #{($h * $scale)};
}

@mixin bgimage-sprites($x, $y, $w, $h) {
  @include bgimage-lookup("sprites", 32px, $x, $y, $w, $h);
}

@mixin no-horizontal-padding($padding) {
  margin-left: -$padding;
  margin-right: -$padding;
}
