
@mixin bgcolor-primary {
  background-color: $header-color;
}
@mixin bgcolor-white {
  background-color: $white-color;
}
@mixin bgcolor-active {
  background-color: $active-color;
}
@mixin bgcolor-secondary {
  background-color: $secondary-color;
}
@mixin bgcolor-tertiary {
  background-color: $tertiary-color;
}

@mixin bgcolor-hover-lighten($bgcolor, $amount) {
    background-color: #{$bgcolor};
    &:hover {
      background: #{lighten($bgcolor, $amount)};
    }
}
@mixin bgcolor-hover-darken($bgcolor, $amount) {
    background-color: #{$bgcolor};
    &:hover {
      background: #{darken($bgcolor, $amount)};
    }
}

@mixin transform($transform) {
  transform: #{$transform};
  -ms-transform: #{$transform};
  -webkit-transform: #{$transform};
}

@mixin border-radius($radius) {
  //-webkit-border-radius: $radius;
  //   -moz-border-radius: $radius;
  //    -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow {
  box-shadow: 1px 1px 4px $black-color;
}

@mixin bgimage-lookup($id, $scale, $x, $y, $w, $h) {
  background-image: url(%%#{$id}%%);
  background-position: #{-($x * $scale)} #{-($y * $scale)};
  background-repeat: no-repeat;
  width: #{($w * $scale)};
  height: #{($h * $scale)};
}

@mixin bgimage-sprites($x, $y, $w, $h) {
  @include bgimage-lookup("sprites", 32px, $x, $y, $w, $h);
}
