
/* #region Grid */
body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "header header"
    "content side"
    "footer footer";

  & > .side {
    grid-area: side;
    float: none;
    position: unset;
    margin: 0;
    margin-bottom: auto;
    margin-left: 16px;
    border-radius: 16px 0 0 16px;
    width: unset;

    & .morelink .nub {
      display: none;
    }
    & .spacer {
      background: none;
    }
    & .sidecontentbox {
      width: unset;
      right: unset;
    }

    & #search {
      left: unset;
      top: unset;
      position: unset;
      @include no-horizontal-padding(16px);
      margin-top: -16px;
      margin-bottom: 8px;

      & input[type=text] {
        width: 100%;
        border-radius: 16px 0 0;
      }

      & #searchexpando {
        width: unset;
      }
    }
  }
  & > .content {
    grid-area: content;
    margin: 0;
    margin-bottom: auto;
  }
  & > #header {
    grid-area: header;
    z-index: 0;
    margin-bottom: -16px;
  }
  & > .footer-parent {
    grid-area: footer;
  }

}

@media only screen and (max-width: 840px) {
  body {
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "side"
      "content"
      "footer";
    & > .side {
      margin-left: 0;
      margin-bottom: 16px;
    }
  }
}
#sr-header-area #RESShortcutsViewport {
  width: 0;
}
/* #endregion */
