@charset "UTF-8";

$flair-spoiler-background-color: #AD6B68;
$spoiler-reveal-background-color: #ECF0F1;
$spoiler-reveal-text-color: #7D5D8A;
$flair-meta-background-color: #FFBC5E;
$flair-merch-background-color: #CE6DFF;
$flair-discussion-background-color: #6EB0D3; //#23B2FF;
$flair-artwork-background-color: #006C87;
$flair-news-background-color: #426369;
$flair-general-background-color: #444;
$flair-fan-creation-background-color: #2165A9;
$flair-yuyuyui-background-color: #ECB9EA;

.link,
.search-result-link {
  position: relative;
}

// Post Flair Decoration
.linkflairlabel,
.combined-search-page .linkflairlabel {
  border: none;
  @include border-radius(0 16px 16px 0);
  padding: 4px 16px;
  line-height: 20px;
  font-size: large;
  color: $white-color;

  &::before {
    font-weight: bold;
    padding-right: 8px;
  }
}

$post-flairs: (
  ('spoiler', $flair-spoiler-background-color, 'Spoiler'),
  ('meta', $flair-meta-background-color, 'Meta'),
  ('merch', $flair-merch-background-color, 'Merch'),
  ('discussion', $flair-discussion-background-color, 'Discussion'),
  ('artwork', $flair-artwork-background-color, 'Artwork'),
  ('news', $flair-news-background-color, 'News'),
  ('general', $flair-general-background-color, 'General'),
  ('fan-creation', $flair-fan-creation-background-color, 'Fan Creation'),
  ('yuyuyui', $flair-yuyuyui-background-color, 'YuYuYui')
);

@each $value in $post-flairs {
  .linkflair-#{nth($value, 1)} .title > .linkflairlabel,
  .linkflair-#{nth($value, 1)} .search-result-header > .linkflairlabel,
  .flairselector .flairoptionpane .linkflair-#{nth($value, 1)} .linkflairlabel,
  .flairselector .flairselection .linkflair-#{nth($value, 1)} .linkflairlabel {
    @include bgcolor-hover-lighten(nth($value, 2), 10%);

    &::before {
      content: "#{nth($value, 3)}";
    }
  }

  .link,
  .search-result-link {
    &.linkflair-#{nth($value, 1)} {
      background: #{nth($value, 2)};
    }
  }
  .res-nightmode .link,
  .res-nightmode .search-result-link {
    &.linkflair-#{nth($value, 1)} {
      background: #{nth($value, 2)};
    }
  }
}

.linkflairlabel,
.linkflairlabel.res-flairSearch {
  height: 32px;
}

.link .entry,
.search-result-link > div {
  background: $white-color;
}

.link,
.search-result-link {
  padding-left: 0px;
  background: $white-color;

  &.last-clicked {
    border: none;
    box-shadow: none;
  }
  .rank {
    display: none;
  }

  .midcol .score {
    width: 64px;
    height: 24px;
    padding: 4px 0;
    text-align: center;
    font-size: large;
  }

  .thumbnail {
    max-height: 64px;
    max-width: 64px;
    min-height: 64px;
    min-width: 64px;
  }
}

// Spoiler in Title Hiding
.listing-page #siteTable .thing.linkflair-spoiler-title a.title {
  background-color: $flair-spoiler-background-color;
  color: $flair-spoiler-background-color;
  text-shadow: none;
}
.listing-page #siteTable .thing.linkflair-spoiler-title a.title:hover {
  background-color: $spoiler-reveal-background-color !important;
  transition: color 1s ease-in;
}
.listing-page #siteTable .thing.linkflair-spoiler-title a.title:visited {
  background-color: $spoiler-reveal-background-color !important;
  color: $spoiler-reveal-text-color !important;
}
.res-nightmode .listing-page #siteTable .thing.linkflair-spoiler-title a.title:hover,
.res-nightmode .listing-page #siteTable .thing.linkflair-spoiler-title a.title:visited {
  background-color: $nightmode-text-color !important;
}

.linkflair-spoiler img {
  display: none;
}
