@charset "UTF-8";

.link,
.search-result-link {
  position: relative;
}

// Post Flair Decoration
.linkflairlabel,
.combined-search-page .linkflairlabel {
  border: none;
  @include border-radius(0 16px 16px 0);
  padding: 4px 16px;
  line-height: 20px;
  font-size: large;
  color: getScheme("white");

  &::before {
    font-weight: bold;
    padding-right: 8px;
  }
}
.link,
.search-result-link {
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 32px;
    font-size: large;
    display: block;
    color: getScheme("white");
    padding: 0;
    height: 32px;
    width: 128px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
  }
}

$post-flairs: (
  ('meta', getScheme("golden"), 'Meta'),
  ('merch', getScheme("fuschia"), 'Merch'),
  ('discussion', getScheme("aqua"), 'Discussion'),
  ('artwork', getScheme("teal"), 'Artwork'),
  ('news', getScheme("crimson"), 'News'),
  ('general', getScheme("darkGray"), 'General'),
  ('fan-creation', getScheme("royal"), 'Fan Creation'),
  ('yuyuyui', getScheme("pink"), 'YuYuYui'),
  ('question', getScheme("purple"), 'Question'),
);

@each $value in $post-flairs {
  .linkflair-#{nth($value, 1)} .title > .linkflairlabel,
  .linkflair-#{nth($value, 1)} .search-result-header > .linkflairlabel,
  .flairselector .flairoptionpane .linkflair-#{nth($value, 1)} .linkflairlabel,
  .flairselector .flairselection .linkflair-#{nth($value, 1)} .linkflairlabel {
    @include bgcolor(nth($value, 2));
    @include bgcolor-hover-lighten(nth($value, 2), 10%);
  }

  .link,
  .search-result-link {
    &,
    .res-nightmode & {
      &.linkflair-#{nth($value, 1)} {
        background: #{nth($value, 2)};

        &::after {
          content: "#{nth($value, 3)}";
        }
      }
    }
  }
}

.linkflairlabel,
.linkflairlabel.res-flairSearch {
  height: 32px;
}

.link .entry,
.search-result-link > div {
  background: getScheme("white");
}

.link,
.search-result-link {
  padding-left: 0px;
  background: getScheme("white");

  &.last-clicked {
    border: none;
    box-shadow: none;
  }
  .rank {
    display: none;
  }

  .midcol .score {
    width: 64px;
    height: 24px;
    padding: 4px 0;
    text-align: center;
    font-size: large;
  }

  .thumbnail {
    max-height: 64px;
    max-width: 64px;
    min-height: 64px;
    min-width: 64px;
  }

  .score {
    color: #E3E8EF;
  }
}