@charset "UTF-8";

// Post Flair Positioning
.link,
.search-result-link {
  margin: 0;

  .title .linkflairlabel,
  .search-result-header .linkflairlabel {
    position: absolute;
    top: 80px;
    left: 32px;
  }

  &.last-clicked {
    overflow: visible;
  }

  .midcol {
    margin: 15px 8px 7px 0;
  }

  .thumbnail {
    margin: 16px 8px 0px;
  }
}

// Post Margins
.linkflairlabel {
  max-width: none;
}
.link .entry,
.search-result-link > div {
  padding: 8px 8px 0 16px;
  margin-right: 0;
  min-height: 128px;
}

.search-result-link {
  padding-left: 40px;

  &.search-result.has-thumbnail > .thumbnail {
    margin-right: 16px;
  }
}

// Flair Selector
.flairselector {
  .flairsample-left {
    text-align: left !important;
  }
  .linkflair .title {
    display: none;
  }
}
