@charset "utf-8";

/* --- Addon: Button color (Secondary Color) --- */
button,
.btn,
.content .infobar,
.drop-choices a.choice:hover,
.expando-button:hover,
.fancy-toggle-button .remove:active .expando-button:hover,
.linkflairlabel,
.res div.commentarea div.RES-keyNav-activeElement.entry div.noncollapsed,
.res div.RES-keyNav-activeElement,
.side #search #searchexpando,
.submit-page #newlink.submit.content .btn,
.submit-page #newlink.submit.content .tabmenu.formtab .selected a,
.submit-page .infobar,
.titlebox .fancy-toggle-button .add,
.top-page .content .menuarea .dropdown.lightdrop .selected,
.modtools-page button.subreddit-rule-delete-button,
.modtools-page button.subreddit-rule-edit-button {
  background-color: getScheme("primary");
}
/* Hover color = 10% white overlay color */

body.modtools-page > .content,
button:hover,
.btn:hover,
.menuarea,
.morelink:hover,
.side .titlebox .md h3 a:hover,
.submit-page #newlink.submit.content .tabmenu.formtab .selected a:hover,
.titlebox .fancy-toggle-button .add:hover,
.titlebox .fancy-toggle-button .add:hover:after,
.commentarea .panestack-title {
  background-color: getScheme("white");
}
/* Active color = 10% black overlay color */
button:active,
.btn:active,
.morelink:active,
.side .titlebox .md h3 a:active {
  background-color: getScheme("secondary");
}
/* --- End Addon --- */

/* --- Addon: Link Color (Tertiary Color) - This color should be either
similiar to the primary color, or to the secondary color.
Else the page will become too busy.-- */

a,
body .content .sitetable .link .title a:hover,
.comment .author:hover ,
.comment .flat-list li a[onclick*="reply"],
.comment .flat-list li a:hover,
.md a,
.titlebox .tagline a.flairselectbtn,
.thing .title.loggedin.click,
.thing .title.click,
.thing .title.loggedin,
.thing .title,
.link .domain a:hover,
.link .entry .buttons li a:hover,
.link .entry .buttons li a.comments,
.link .entry .buttons li a.flairselectbtn,
.link .entry .tagline a:hover,
.tagline .submitter,
.tagline .submitter,
.side:after,
.side .titlebox .md h6 a,
.usertext .bottom-area a.reddiquette {
  color: getScheme("secondary");
}
/* Colouring */
.footer-parent .footer,
.side {
  background-color: getScheme("surface");
}
.sidecontentbox,
.comments-page .side .linkinfo {
  background-color: getScheme("gloss");
}
.side .md {
  .-blocks,
  .-lists,
  pre,
  blockquote,
  table,
  p,
  ul,
  ol {
    color: getScheme("glossOn");
  }
}

.footer-parent .footer a:not(.buygold)
.side a {
  &,
  &:visited {
    color: rgba(20, 150, 220, 0.8);
  }
}
.side .morelink {
  a,
  &:hover a {
    color: getScheme("inverseOn");
  }
}
.comments-page .side .linkinfo {
  .date,
  .score,
  .views {
    color: getScheme("glossOn");
  }

  .score .point,
  .score .word,
  .totalvotes,
  .shortlink {
    color: getScheme("glossOn");
  }
}
// Sidebar gray text
.sidebox .subtitle,
.titlebox .bottom,
.sidecontentbox .title h1,
.sidecontentbox .more a,
.titlebox form.toggle, .leavemoderator,
.res .RESshortcutside,
.res .RESDashboardToggle,
.side .sidecontentbox .title h1,
.tabmenu li a,
.gadget .res-voteEnhancements-highlightScores span.score {
  color: getScheme("glossOn");
}
.side {
  .redditname a,
  h1, h2, h3, h4, h5, h6,
  .usertext-body ol,
  .usertext-body .md blockquote p {
    color: getScheme("glossOn");
  }
}
.sheets .btn.right {
  background: none;
}
.wiki-page > .content {
  background: getScheme("white");
}
.titlebox form.toggle, .leavemoderator {
  background-color: transparent;
}
.titlebox .fancy-toggle-button .remove {
  background-color: rgba(0, 0, 0, 0.05);
}
.titlebox .fancy-toggle-button .remove:hover {
  background-color: getScheme("white");
}

.res-nightmode {
  #images,
  .commentarea > .usertext,
  .link,
  .stylesheet-customize-container .pretty-form,
  .wiki-page .pageactions,
  .wiki-page .wiki-page-content,
  .wiki-page .wikititle {
    background-color: $color-nightmode-text;
  }
  .stylesheet-customize-container textarea,
  .wiki-page .wiki-page-content textarea {
    color: getScheme("on");
    background-color: getScheme("surface");
  }
  .comments-page .side .linkinfo {
    background-color: getScheme("surface");
  }
  input[type="file"],
  input[type="text"] {
    background-color: $color-nightmode-input-background;
  }
}
