@charset "utf-8";

/* --- Addon: Button color (Secondary Color) --- */
button,
.btn,
.content .infobar,
.drop-choices a.choice:hover,
.expando-button:hover,
.fancy-toggle-button .remove:active .expando-button:hover,
.linkflairlabel,
.res div.commentarea div.RES-keyNav-activeElement.entry div.noncollapsed,
.res div.RES-keyNav-activeElement,
.side #search #searchexpando,
.submit-page #newlink.submit.content .btn,
.submit-page #newlink.submit.content .tabmenu.formtab .selected a,
.submit-page .infobar,
.titlebox .fancy-toggle-button .add,
.top-page .content .menuarea .dropdown.lightdrop .selected,
.modtools-page button.subreddit-rule-delete-button,
.modtools-page button.subreddit-rule-edit-button {
  background-color: $secondary-color;
}
/* Hover color = 10% white overlay color */

body.modtools-page > .content,
button:hover,
.btn:hover,
.menuarea,
.morelink:hover,
.side .titlebox .md h3 a:hover,
.submit-page #newlink.submit.content .tabmenu.formtab .selected a:hover,
.titlebox .fancy-toggle-button .add:hover,
.titlebox .fancy-toggle-button .add:hover:after,
.commentarea .panestack-title {
  background-color: $white-color;
}
/* Active color = 10% black overlay color */
button:active,
.btn:active,
.morelink:active,
.side .titlebox .md h3 a:active {
  background-color: $active-color;
}
/* --- End Addon --- */

/* --- Addon: Link Color (Tertiary Color) - This color should be either
similiar to the primary color, or to the secondary color.
Else the page will become too busy.-- */

a,
body .content .sitetable .link .title a:hover,
.comment .author:hover ,
.comment .flat-list li a[onclick*="reply"],
.comment .flat-list li a:hover,
.md a,
.titlebox .tagline a.flairselectbtn,
.thing .title.loggedin.click,
.thing .title.click,
.thing .title.loggedin,
.thing .title,
.link .domain a:hover,
.link .entry .buttons li a:hover,
.link .entry .buttons li a.comments,
.link .entry .buttons li a.flairselectbtn,
.link .entry .tagline a:hover,
.tagline .submitter,
.tagline .submitter,
.side:after,
.side .titlebox .md h6 a,
.usertext .bottom-area a.reddiquette {
  color: $tertiary-color;
}
/* Colouring */
.footer-parent .footer,
.side {
  background-color: $gradient-color-0;
}
#moderation_tools,
.comments-page .side .linkinfo, {
  background-color: $linkinfo-background-color;
}
.side .md {
  .-blocks,
  .-lists,
  pre,
  blockquote,
  table,
  p,
  ul,
  ol {
    color: $gray-color;
  }
}

.footer-parent .footer a:not(.buygold)
.side a {
  &,
  &:visited {
    color: rgba(20, 150, 220, 0.8);
  }
}
.side .morelink {
  a,
  &:hover a {
    color: $sidebar-button-color;
  }
}
.comments-page .side .linkinfo {
  .date,
  .score {
    color: $linkinfo-color;
  }

  .score .point,
  .score .word,
  .totalvotes,
  .shortlink {
    color: $gray-color;
  }
}
.res .RESshortcutside,
.res .RESDashboardToggle,
.side #moderation_tools .title h1,
.tabmenu li a {
  color: gray;
}
.side {
  .redditname a,
  h1, h2, h3, h4, h5, h6,
  .usertext-body ol,
  .usertext-body .md blockquote p {
    color: $title-color;
  }
}

.titlebox form.toggle, .leavemoderator {
  background-color: transparent;
}
.titlebox .fancy-toggle-button .remove {
  background-color: rgba(0, 0, 0, 0.05);
}
.titlebox .fancy-toggle-button .remove:hover {
  background-color: $white-color;
}

.res-nightmode {
  #images,
  .commentarea > .usertext,
  .link,
  .stylesheet-customize-container .pretty-form,
  .wiki-page .pageactions,
  .wiki-page .wiki-page-content,
  .wiki-page .wikititle {
    background-color: $nightmode-text-color;
  }
  .stylesheet-customize-container textarea,
  .wiki-page .wiki-page-content textarea {
    color: $content-editor-text-color;
    background-color: $content-back-color;
  }
  .comments-page .side .linkinfo {
    background-color: $content-back-color;
  }
  input[type="file"],
  input[type="text"] {
    background-color: $nightmode-input-background-color;
  }
}
