@charset "utf-8";

// Remove Animations
body > .content,
body.modtools-page > .content {
  animation: none;
  -webkit-animation: none;
  border-radius: 2px;
  box-shadow: 0 1px 5px $box-shadow-color;
  margin: 126px 332px 0 16px;
  padding: 0;
}
// Prevent Naut from hiding h1's in the RES text post preview box
.submit-page .content * h1 { display: block }

.submit-page .roundfield .title {
    color: #4D5763;
    text-transform: none;
}
