@charset "utf-8";

// Deprecated

$navmenu-color: #555;
$navmenu-border-color: #C9A9A7;
$navmenu-hover-color: #333;
$navmenu-text-color: #4D5763;
$navmenu-shadow-color: rgba(0,0,0,0.24);
$navmenu-link-color: rgba(20, 150, 220, 0.8);


/* --- Addon: Floating Navigation Bar --- */
/* Menu Colors */
.side .titlebox .usertext-body > .md {
  > blockquote:first-child,
  > blockquote:nth-child(2) {
    &::after {
      color: $navmenu-color;
    }
    > p:first-child,
    > blockquote > ul li {
      border-color: $navmenu-border-color;
    }
    ul li:hover,
    p:first-child:hover  {
      background-color: $white-color;
    }
    a,
    p:first-child,
    blockquote > ul li {
      color: $navmenu-text-color;
    }
    :hover > a {
      color: $navmenu-link-color;
    }
  }

}
.res-nightmode .side .titlebox .usertext-body > .md {
  > blockquote:first-child,
  > blockquote:nth-child(2) {
    &::after {
      color: $title-color;
    }
    p:first-child,
    > blockquote > ul li {
      background-color: $gradient-color-0;
    }
    ul li:hover,
    p:first-child:hover {
      background-color: $navmenu-hover-color;
    }
  }
}
.res-nightmode .morelink:after {
  background-color:     $navmenu-hover-color;
}

/* Enable positioning of titlebox children */
.side .titlebox form {
  position: static;
}
/* Float first blockquote child */
.side .titlebox .usertext-body > .md {
  > blockquote:first-child,
  > blockquote:nth-child(2) {
    p:first-child {
      border-left: solid 1px;
      border-right: solid 1px;
      box-shadow: 0 1px 5px $navmenu-shadow-color;
      cursor: default;
      float: left;
      font-size: 12pt;
      font-weight: bold;
      margin: 0;
      padding: 4px 10px 5px;
    }
    &:hover p:first-child {
      float: right;
    }
  }
  > blockquote:first-child {
    background: transparent;
    border-left: none;
    margin: 0 8px 0 0;
    padding: 0;
    position: fixed;
    right: -8px;
    top: 24px;
    z-index: 2;

    &:not(:hover) p:first-child::after {
      content: " <<";
    }
    &:hover p:first-child::after {
      content: " >>";
    }

    > p:first-child,
    > blockquote > ul li {
      background-color: $secondary-color;
    }

    > blockquote {
      clear: left;
      border-left: none;
      float: left;
      margin: 0;
      max-height: 30px;
      padding: 0;

      > ul {
        box-shadow: 0 1px 5px $navmenu-shadow-color;
        float: right;
        margin: 0;
        padding: 0;
      }
      > ul li {
        border: solid 1px;
        border-bottom: none;
        padding: 3px 22px;
        text-align: center;
      }
    }
    li:first-child {
      border-top: none;
      cursor: default;
      font-size: 12pt;
      padding: 5px 24px;
      z-index: 5;
    }
    li:not(:first-child) {
      padding: 3px 12px;
      position: relative;
      z-index: 6;
    }
    /* Hide/Display Functionality */
    > p:not(:first-child),
    > ul {
      display: none;
    }
    > blockquote li a,
    > blockquote > ul li:first-child,
    > blockquote > ul:hover li:not(:first-child),
    &:hover > blockquote {
      display: block;
    }
    > blockquote,
    > blockquote > ul:not(:hover) li:not(:first-child) {
      display: none;
    }
  }

  > blockquote:nth-child(2) {
    background: transparent;
    border-left: none;
    margin: 0 8px 0 0;
    padding: 0;
    position: absolute;
    right: -24px;
    top: -39px;
    z-index: -1;

    > p:first-child,
    > blockquote > ul li {
      background-color: $tertiary-color;
      color: $navmenu-link-color;
    }
  }
}

#NREFloat.res-floater-visibleAfterScroll {
  top: 0;
}
/*custom size for menu sections*//*
.titlebox blockquote ul:nth-of-type(1) {width:100px;}
.titlebox blockquote ul:nth-of-type(2) {width:100px;}
/* --- End Addon --- */
