// Header Image
body {
  background: repeating-linear-gradient( 45deg, $gradient-color-0 0%, $gradient-color-0 1%, $gradient-color-1 1%, $gradient-color-1 2%);
  background-size: 256px 256px;
}
body:before {
  background: url(%%headerimg%%) fixed no-repeat 50% 0;
  background-size: auto 200px;
  height: 142px;
}
body.res-nightmode:before {
  background: linear-gradient(rgba(34, 34, 34, 0.45), rgba(34, 34, 34, 0.45)),
              url(%%headerimg%%) fixed no-repeat 50% 0;
  background-size: auto 200px;
}
@media only screen and (min-width: 1921px) {
  body:before { background-size: cover }
}
.res-nightmode #sr-header-area {
  background-color: rgba(0, 0, 0, 0.05);
}
.res-nightmode #header-bottom-right {
  background-color: transparent;
}

// Tab Menu
#header-bottom-left {
  top: 42px;
}
#header .tabmenu {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
}
#header .tabmenu li a {
  padding: 8px;
}
#header .tabmenu li.selected a {
  padding: 8px 8px 6px;
}
#header .tabmenu li a,
.pagename a {
  text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
}
#header .tabmenu li a:hover,
.pagename a:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

// Header Tab Menu overflow
#header-bottom-left {
  white-space: nowrap;
}

// Header Icon/Snoo Replacement
#header-img.default-header,
#header-img,
#header-img.default-header:hover,
#header-img:hover {
  background: url(%%snoo-yuna%%) no-repeat;
  background-position:  0 0;
  background-size: 48px 48px;
}
