$commentface-border-color: #BBB;

.thing .md a[href^="#im/"],
.thing .md a[href^="#anim/"] {
  background-origin: border-box;
  border: 2px outset $commentface-border-color;
  color: $white-color !important;
  cursor: default;
  display: inline-block;
  font-family: verdana,sans-serif;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-shadow:
     0.5px  0.5px 0px $black-color,
     0.5px -0.5px 0px $black-color,
    -0.5px  0.5px 0px $black-color,
    -0.5px -0.5px 0px $black-color,
     0.5px  0.5px 1px $black-color,
     0.5px -0.5px 1px $black-color,
    -0.5px  0.5px 1px $black-color,
    -0.5px -0.5px 1px $black-color;
  z-index: 900;

  > strong {
    bottom: 4px;
    display: block;
    font-weight: normal;
    position: absolute;
    width: 100%;
  }
}

.thing .md a[href^="#anim/"]:not(:hover)::before {
  background: url(%%play-animation%%) -0px -0px no-repeat;
  content: "";
  display: block;
  height: 64px;
  left: 48px;
  position: absolute;
  top: 12px;
  transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  width: 64px;
  z-index: 901;
}
a[href^="#anim/"]:hover {
  animation-play-state: running !important;
}

$image-macro-animated: (
  ("itsuki-applause", 'url(%%itsuki-applause-frames%%)', 160px, 90px, -0px, -0px, -0px, -720px, 0.60s, 8),
  ("fuu-fufufu", 'url(%%fuu-fufufu-frames%%)', 160px, 90px, -0px, -0px, -0px, -1890px, 1.575s, 21),
  ("mimori-smile", 'url(%%mimori-smile-frames%%)', 160px, 90px, -0px, -0px, -0px, -3420px, 2.85s, 38),
  ("karin-wat", 'url(%%karin-wat-frames%%)', 160px, 90px, -0px, -0px, -0px, -1620px, 1.35, 18),
  ("yuuna-soexcited", 'url(%%yuuna-soexcited-frames%%)', 160px, 90px, -0px, -0px, -0px, -1440px, 1.20s, 16),
  ("yuuna-victory", 'url(%%yuuna-victory-frames%%)', 160px, 90px, -0px, -0px, -0px, -2070px, 3.225s, 23)
);

@each $value in $image-macro-animated {
  $im-id: #{nth($value, 1)};
  .thing .md a[href="#im/#{$im-id}"] {
    display: inline-block;
    height: #{nth($value, 4)};
    width: #{nth($value, 3)};
  }
  @-webkit-keyframes anim/#{$im-id} {
    from {
      background-position: #{nth($value, 5)} #{nth($value, 6)};
    }
    to {
      background-position: #{nth($value, 7)} #{nth($value, 8)};
    }
  }
  @keyframes anim/#{$im-id} {
    from {
      background-position: #{nth($value, 5)} #{nth($value, 6)};
    }
    to {
      background-position: #{nth($value, 7)} #{nth($value, 8)};
    }
  }
  .thing .md a[href="#anim/#{$im-id}"] {
    background: #{nth($value, 2)} #{nth($value, 5)} #{nth($value, 6)} no-repeat;
    animation: anim/#{$im-id} #{nth($value, 9)} steps(#{nth($value, 10)}, end) infinite paused;
    -webkit-animation: anim/#{$im-id} #{nth($value, 9)} steps(#{nth($value, 10)}, end) infinite paused;
    animation-fill-mode: forwards;
  }
}

$image-macro-static: (
  ("daijoubu", 'url(%%everything-is-daijoubu%%)', 160px, 160px, -0px, -0px),
  ("itsuki-writing", 'url(%%itsuki-writing%%)', 160px, 160px, -0px, -0px)
);
@each $value in $image-macro-static {
  $im-id: #{nth($value, 1)};
  .thing .md a[href="#im/#{$im-id}"] {
    display: inline-block;
    height: #{nth($value, 4)};
    width: #{nth($value, 3)};
    background: #{nth($value, 2)} #{nth($value, 5)} #{nth($value, 6)} no-repeat;
  }
}

// Itsuki Writing
.thing .md a[href="#im/itsuki-writing"] {
  color: $black-color !important;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 10px;
  padding-left: 34px;
  padding-right: 31px;
  padding-top: 90px;
  text-shadow: inherit;

  > strong {
    bottom: inherit;
    display: inherit;
    font-weight: bold;
    position: inherit;
    text-align: inherit;
    width: auto;
  }
  > em {
    color: black !important;
  }
}

@import 'Old Image Macros';
