@charset "utf-8";

$navmenu-color: #555;
$navmenu-border-color: #C9A9A7;
$navmenu-hover-color: #333;
$navmenu-text-color: #4D5763;
$navmenu-shadow-color: rgba(0,0,0,0.24);
$navmenu-link-color: rgba(20, 150, 220, 0.8);


/* --- Addon: Floating Navigation Bar --- */
/* Menu Colors */
.side .titlebox .usertext-body > .md {
  > blockquote {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    @include border-radius(16px);

    > p:first-child,
    > ul {
      min-height: 32px;
      padding: 4px 16px;
      text-align: center;
    }

    > p:first-child {
      background: rgba(255, 255, 255, 0.50);
      font-size: large;
      @include border-radius(16px 16px 0 0);
    }
    > ul > li:first-child {
      font-size: larger;
      font-weight: bold;
    }

    &::after {
      color: $navmenu-color;
    }
    > p:first-child,
    > ul {
      border-color: $navmenu-border-color;
      position: relative;
    }
    > ul {
      padding: 0;
      margin: 4px 0 12px;
    }
    :hover > a:hover {
      background-color: $white-color;
        color: $navmenu-link-color;
    }
    a,
    p:first-child,
    ul li {
      display: block;
      color: $sidebar-button-color;
    }
  }
}

/* Enable positioning of titlebox children */
.side .titlebox form {
  position: static;
}
