@charset "utf-8";

// Stylesheet Image Preview List
#images {
  height: auto;
}
ul#image-preview-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
}
ul#image-preview-list li {
  flex: 1 0 50%;
  width: auto;
}

// RESUserTagging
.RESUserTagImage {
  background-image: none!important;
}

// Nightmode Fix (doesn't work anymore)
.res-nightmode .arrow {
  margin-left: 10px;
}
.side .titlebox h1+div {
  text-align: center;
}

// Text Area Adjustments
.markdownEditor,
.RESMacroWrappingSpan
.commentarea .markdownEditor-wrapper,
.usertext .bottom-area {
  width: 100%;
  max-width: 500px;
}
.usertext-edit,
.usertext-edit textarea,
.usertext-edit input[type=text] {
  max-width: 100%;
}

// Comments Page Adjustments
.comments-page .link .md {
  background: url(%%yuuna-flower-3600%%) 0 0 no-repeat;
  background-size: 100% auto;
}
.commentarea .panestack-title,
.res .commentarea .panestack-title {
  border-radius: 2px 2px 0 0;
  margin: 8px 0 0;
  padding: 12px 0 4px 22px;
}
.commentarea .menuarea {
  margin: 0 0 8px;
  padding: 4px 4px 4px 22px;
  border-radius: 0 0 2px 2px;
}

// ???
.menuarea {
  margin: 0;
  padding: 5px;
}

// Fixes Transparent Backgrounds on most of the mod pages...
.sitetable {
  background: white;
  border-radius: 2px;
}

// Remove the content box shadow
body > .content,
body.modtools-page > .content {
  box-shadow: none;
}

// Flair user table
.usertable {
  background: white;
  border-radius: 2px;
  margin-left: 0;
}
