
*, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: normal x-small "Noto Sans",verdana,arial,helvetica,sans-serif;
}

.sitetable {
  background: none;
}

.link {
  border-radius: 16px;
  padding-left: 0px;
  box-shadow: 1px 1px 4px $black-color;
  background: $white-color;

  &.last-clicked {
      border: none;
      box-shadow: 0px 0px 0 2px Highlight;
  }
  .rank {
    display: none;
  }

  .midcol {
    margin: 32px 0px;

    .score {
      width: 80px;
      height: 24px;
      margin: 0 0 0 32px;
      padding: 4px 8px;
      position: absolute;
      font-size: large;
    }
  }

  .thumbnail {
    margin: 32px 8px 0;
  }

  .entry {
    margin-right: 32px;
  }
}
.midcol {
  width: 32px !important;

  .arrow {
    margin: 0;
  }
}
.entry {
  background: $white-color;
}

.arrow {
  width: 32px;
  height: 32px;
}

.thumbnail {
  width: 80px;
  height: 80px;
}

.morelink,
.morelink:after,
.side .titlebox .md h3 a,
.side .titlebox blockquote {
  @include bgcolor-secondary;
}
// comments-page
.commentarea, .res .commentarea {
  .panestack-title {
    @include border-radius(16px 16px 0 0);
    border-radius: 16px 16px 0 0;
    margin: 8px 0 0;
    padding: 12px 0 4px 22px;
  }

  .menuarea {
    margin: 0 0 8px;
    padding: 4px 0px 12px 22px;
    border-radius: 0 0 16px 16px;
  }

  > .usertext {
    margin: 0 0 10px;
    overflow: auto;
    background: $white-color;
    padding: 12px 0 4px 22px;
    border-radius: 16px;
  }
}

.comment {
  position: relative;

  .midcol {
    width: 32px;
    height: 64px;
    margin: 0px;
    border-radius: 16px 0 0 16px;
    background: $white-color;
    position: absolute;
    z-index: 2;
  }
  .expand {
    position: absolute;
    color: transparent;
    font-size: 0;
    line-height: 0;
    display: block;
    border-radius: 16px 0 0 16px;
    border: none;
    box-shadow: none;
    height: calc(100% - 8px);
    width: 32px;
    left: 0px;
    top: 0px;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.25);

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  & .child .comment .expand {
    border-radius: 16px 0 0 0;
  }
  .entry {
    padding: 0;
    border-radius: 0 16px 16px 0;
    margin-left: 32px;
    margin-bottom: 8px;
    box-shadow: 1px 1px 4px $black-color;

    .tagline {
      background: $white-color;
      height: 64px;
      padding: 7px 8px;
    }
    .usertext {
      padding: 8px 8px 0;
    }
    .flat-list {
      padding: 0 8px 8px;
    }
  }
  &.collapsed {
    .midcol {
      visibility: visible;
      height: 64px;
      z-index: 0;

      .arrow {
        visibility: hidden;
      }
    }
    .entry {
      border-radius: 0 16px 16px 0;

      .tagline .flair {
        display: inline-block;
      }
    }
  }
}
.res-commentBoxes .comment, .res-commentBoxes .comment .comment, .res-commentBoxes .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment, .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: transparent !important;
  margin: 0 !important;
  border-width: 0px !important;
  padding: 0 !important;
}
.comment .child, .comment .showreplies {
  margin: 0 0 0 32px;
}
#header-img {
  width: 0;
  padding-left: 48px;
  height: 48px;
  top: 0;
  left: 0;
  margin: 0;
}
#header .pagename {
  font-size: 0;
}
#header .pagename a {
  font-variant: normal;
  font-size: 22px;
  padding: 9px;
  display: inline-block;
  vertical-align: top;
  color: white;
  font-family: "Noto Sans", sans-serif;

  &::before {
    content: "/r/";
  }
}
#header-img,
#header .pagename a {
  transition: background-color 0.25s ease;
}
#header-img:hover,
#header .pagename a:hover {
  background-color: rgba(0,0,0,0.08);
}

.side {
  margin: -16px 16px 0 0;
  padding: 6px 16px;
  border-radius: 16px;
  .entry,
  .icon-menu a {
      background: transparent;
  }
  #search {
    input[type=text] {
      border-radius: 16px 16px 0 0;
      border: none;
      &:focus {
        outline: none;
        box-shadow: 0 0 0 2pt Highlight;
      }
    }
    #searchexpando {
      border: none;
      width: 300px;
      margin: 0;
    }
  }
  .morelink {
    background-image: none;
    border-radius: 16px;
    border: none;
    margin: 0 -16px;
    height: 32px;
    left: 0;
    .nub {
      background: none;
    }
    &:after {
        display: block;
        overflow: hidden;
        position: absolute;
        font-size: small;
        transition: width ease 0.25s 0.125s, right ease 0.5s;
        height: 0;
        z-index: -1;
        margin-top: -32px;
        width: 284px;
        height: 32px;
        border-radius: 16px 0 0 16px;
        right: 16px;
    }
    &:hover:after {
      right: 284px;
      width: 316px;
    }
  }
}
.content {
  .spacer {
    margin-bottom: 0px;
  }
}
