$flair-spoiler-background-color: #AD6B68;
$spoiler-reveal-background-color: #ECF0F1;
$spoiler-reveal-text-color: #7D5D8A;
$flair-meta-background-color: #FFBC5E;
$flair-merch-background-color: #CE6DFF;
$flair-discussion-background-color: #23B2FF;
$flair-artwork-background-color: #006C87;
$flair-news-background-color: #426369;

/* --- Addon: Post Flairs --- */
/* Post Flair Labels*/

$post-flairs: (
  ('spoiler', $flair-spoiler-background-color),
  ('meta', $flair-meta-background-color),
  ('merch', $flair-merch-background-color),
  ('discussion', $flair-discussion-background-color),
  ('artwork', $flair-artwork-background-color),
  ('news', $flair-news-background-color)
);

@each $value in $post-flairs {
  .linkflair-#{nth($value, 1)} .linkflairlabel {
    background-color: #{nth($value, 2)};
  }
  .linkflair-#{nth($value, 1)} {
    background: linear-gradient(90deg, $white-color 52px, #{nth($value, 2)} 0px, #{nth($value, 2)} 132px, $white-color 0px);
  }
  .res-nightmode .linkflair-#{nth($value, 1)} {
    background: linear-gradient(90deg, $nightmode-post-background-color 52px, #{nth($value, 2)} 0px, #{nth($value, 2)} 132px, $nightmode-post-background-color 0px);
  }
  .search-result-link.linkflair-#{nth($value, 1)} {
    background: linear-gradient(90deg, #{nth($value, 2)} 82px, $white-color 0px);
  }
  .res-nightmode .search-result-link.linkflair-#{nth($value, 1)} {
    background: linear-gradient(90deg, #{nth($value, 2)} 82px, $nightmode-post-background-color 0px);
  }
}
/* Spoiler Titles */

.listing-page #siteTable .thing.linkflair-spoiler-title a.title {
  background-color: $flair-spoiler-background-color;
  color: $flair-spoiler-background-color;
  text-shadow: none;
}
.listing-page #siteTable .thing.linkflair-spoiler-title a.title:hover {
  background-color: $spoiler-reveal-background-color !important;
  transition: color 1s ease-in;
}
.listing-page #siteTable .thing.linkflair-spoiler-title a.title:visited {
  background-color: $spoiler-reveal-background-color !important;
  color: $spoiler-reveal-text-color !important;
}
.res-nightmode .listing-page #siteTable .thing.linkflair-spoiler-title a.title:hover,
.res-nightmode .listing-page #siteTable .thing.linkflair-spoiler-title a.title:visited {
  background-color: $nightmode-text-color !important;
}
/* Spoiler Images */

.linkflair-spoiler img {
  display: none;
}
.linkflair-spoiler .thumbnail {}
/* --- End Addon --- */
