@charset "utf-8";

$flair-spoiler-background-color: #AD6B68;
$spoiler-reveal-background-color: #ECF0F1;
$spoiler-reveal-text-color: #7D5D8A;
$flair-meta-background-color: #FFBC5E;
$flair-merch-background-color: #CE6DFF;
$flair-discussion-background-color: #6EB0D3; //#23B2FF;
$flair-artwork-background-color: #006C87;
$flair-news-background-color: #426369;
$flair-general-background-color: #444;
$flair-fan-creation-background-color: #2165A9;

.link,
.search-result-link {
  position:relative;
}

// Post Flairs
$post-flairs: (
  ('spoiler', $flair-spoiler-background-color),
  ('meta', $flair-meta-background-color),
  ('merch', $flair-merch-background-color),
  ('discussion', $flair-discussion-background-color),
  ('artwork', $flair-artwork-background-color),
  ('news', $flair-news-background-color),
  ('general', $flair-general-background-color),
  ('fan-creation', $flair-fan-creation-background-color)
);

@each $value in $post-flairs {
  .link,
  .search-result-link {
    &.linkflair-#{nth($value, 1)} .linkflairlabel {
      background-color: #{nth($value, 2)};
      &:hover {
        background: #{lighten(nth($value, 2), 10%)};
      }
    }
    &.linkflair-#{nth($value, 1)} {
      background: #{nth($value, 2)};
    }
  }
  .res-nightmode .link,
  .res-nightmode .search-result-link {
    &.linkflair-#{nth($value, 1)} {
      background: #{nth($value, 2)};
    }
  }
}
// Post Margins
.link,
.search-result-link {
  .thumbnail {
    margin: 32px 8px 0px;
    max-height: 64px;
  }
  .midcol {
    margin: 32px 8px 0;
    .score {
        top: 0px;
        position: absolute;
        margin: 4px 2px;
        left: 0;
        padding: 0px;
        text-align: center;
        width: 48px;
    }
  }
}
.search-result-link .thumbnail {
  margin-left: 48px;
}

.link .entry,
.search-result-link > div {
  padding-left: 8px;
  padding-top: 41px;
  .linkflairlabel {
    position: absolute;
    top: 0px;
    left: 128px;
    max-width: none;
    height: 32px;
    border: none;
    @include border-radius(0);
    padding: 4px 8px;
    font-size: large;
    color: $white-color;
    width: calc(100% - 160px);
  }
}

// Spoiler in Title Hiding
.listing-page #siteTable .thing.linkflair-spoiler-title a.title {
  background-color: $flair-spoiler-background-color;
  color: $flair-spoiler-background-color;
  text-shadow: none;
}
.listing-page #siteTable .thing.linkflair-spoiler-title a.title:hover {
  background-color: $spoiler-reveal-background-color !important;
  transition: color 1s ease-in;
}
.listing-page #siteTable .thing.linkflair-spoiler-title a.title:visited {
  background-color: $spoiler-reveal-background-color !important;
  color: $spoiler-reveal-text-color !important;
}
.res-nightmode .listing-page #siteTable .thing.linkflair-spoiler-title a.title:hover,
.res-nightmode .listing-page #siteTable .thing.linkflair-spoiler-title a.title:visited {
  background-color: $nightmode-text-color !important;
}

// Spoiler in Thumbnail
.linkflair-spoiler img {
  display: none;
}
.linkflair-spoiler .thumbnail {}
