$flair-spoiler-background-color: #AD6B68;
$spoiler-reveal-background-color: #ECF0F1;
$spoiler-reveal-text-color: #7D5D8A;
$flair-meta-background-color: #FFBC5E;
$flair-merch-background-color: #CE6DFF;
$flair-discussion-background-color: #6EB0D3; //#23B2FF;
$flair-artwork-background-color: #006C87;
$flair-news-background-color: #426369;

.link {
  position:relative;
}

// Post Flairs
$post-flairs: (
  ('spoiler', $flair-spoiler-background-color),
  ('meta', $flair-meta-background-color),
  ('merch', $flair-merch-background-color),
  ('discussion', $flair-discussion-background-color),
  ('artwork', $flair-artwork-background-color),
  ('news', $flair-news-background-color)
);

@each $value in $post-flairs {
  .link.linkflair-#{nth($value, 1)} .linkflairlabel {
    background-color: #{nth($value, 2)};
  }
  .link.linkflair-#{nth($value, 1)} {
    background: linear-gradient(90deg, $white-color 52px, #{nth($value, 2)} 0px, #{nth($value, 2)} 132px, $white-color 0px);
  }
  .res-nightmode .link.linkflair-#{nth($value, 1)} {
    background: linear-gradient(90deg, $nightmode-post-background-color 52px, #{nth($value, 2)} 0px, #{nth($value, 2)} 132px, $nightmode-post-background-color 0px);
  }
  .link.search-result-link.linkflair-#{nth($value, 1)} {
    background: linear-gradient(90deg, #{nth($value, 2)} 82px, $white-color 0px);
  }
  .res-nightmode .link.search-result-link.linkflair-#{nth($value, 1)} {
    background: linear-gradient(90deg, #{nth($value, 2)} 82px, $nightmode-post-background-color 0px);
  }
}

// Post Margins
.link {
  //border-radius: 2px;
  //margin-top: 8px;

  .thumbnail {
    margin: 32px 8px 0px;
  }
  .midcol {
    margin: 32px 8px 0;
    .score {
        top: 0px;
        position: absolute;
        margin: 4px 2px;
        left: 0;
        padding: 0px;
        text-align: center;
        width: 48px;
    }
  }
  .entry {
    padding-left: 8px;
    padding-top: 41px;
    .title > .linkflairlabel {
      position: absolute;
      top: 0px;
      left: 52px;
      max-width: none;
      height: 26px;
      padding: 5px 6px 5px 88px;
      width: calc(100% - 52px);
    }
  }
}

// Spoiler in Title Hiding
.listing-page #siteTable .thing.linkflair-spoiler-title a.title {
  background-color: $flair-spoiler-background-color;
  color: $flair-spoiler-background-color;
  text-shadow: none;
}
.listing-page #siteTable .thing.linkflair-spoiler-title a.title:hover {
  background-color: $spoiler-reveal-background-color !important;
  transition: color 1s ease-in;
}
.listing-page #siteTable .thing.linkflair-spoiler-title a.title:visited {
  background-color: $spoiler-reveal-background-color !important;
  color: $spoiler-reveal-text-color !important;
}
.res-nightmode .listing-page #siteTable .thing.linkflair-spoiler-title a.title:hover,
.res-nightmode .listing-page #siteTable .thing.linkflair-spoiler-title a.title:visited {
  background-color: $nightmode-text-color !important;
}

// Spoiler in Thumbnail
.linkflair-spoiler img {
  display: none;
}
.linkflair-spoiler .thumbnail {}
