@charset "utf-8";

// Submit Button Text
.sidebox.submit.submit-text {
  display: block;
}
.sidebox.submit.submit-text .morelink:after {
/* You can change the hover message for the submit-text button here */
  content: "Please remember to read the rules. Thank you!";
}

// Text Strings
.arrow.down:after {
  content: "For content that does not contribute to any discussion."
}
.morelink:after {
  content: "Please remember to read the rules. Thank you!"
}
.submit-page .infobar:before {
  content: "Please submit insightful content that allows for discussion!"
}
#mail.havemail:before {
  content: "You have new messages!"
}
div.titlebox span.number:after {
  content: " Heroes,"
}
.titlebox .users-online .number:after {
  content: " in combat"
}

// PSA Message
#header:after {
  content: "Hover to expand header image";
  background: rgba(255, 255, 255, 0.5);
}

// Automoderator Rename
a.author[href$="AutoModerator"] {
  font-size: 0px;
}
a.author[href$="AutoModerator"]:before {
  content: "[Taisha-Bot]";
  color: white;
  font-size: 11px!important;
  padding: 1px 4px;
  border-radius: 1px;
  background: #228822;
}
