@charset "UTF-8";

$spoilers: (
  ('a[href="#s"]', getScheme("black"), getScheme("white"), getScheme("black"), getScheme("primary"), getScheme("white")),
  ('a[href="/s"]', getScheme("black"), getScheme("white"), getScheme("black"), getScheme("primary"), getScheme("white")),
);

@each $value in $spoilers {
  #{nth($value, 1)},
  .md p > #{nth($value, 1)} {
    background: #{nth($value, 2)};
    color: #{nth($value, 3)} !important;
    cursor: default;
    display: inline-block;
    text-decoration: none !important;
  }
  #{nth($value, 1)}::after,
  .md p > #{nth($value, 1)}::after {
    content: attr(title);
    color: #{nth($value, 4)};
    padding: 0 0.5em;
    visibility: visible;
  }
  #{nth($value, 1)}:hover,
  .md p > #{nth($value, 1)}:hover {
    color: #{nth($value, 5)} !important;
  }
  #{nth($value, 1)}:hover::after,
  #{nth($value, 1)}:active::after,
  .md p > #{nth($value, 1)}:hover::after,
  .md p > #{nth($value, 1)}:active::after {
    color: #{nth($value, 6)};
    transition: color 1.0s ease-in;
  }
}
