@charset "UTF-8";

/* --- Addon: Inline Navigation Bar --- */
.side .titlebox .usertext-body > .md > blockquote {
  @include border-radius(16px);
  border-left: none;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;

  > p:first-child,
  > ul {
    min-height: 32px;
    padding: 4px 16px;
    text-align: center;
  }

  > p:first-child {
    @include border-radius(16px 16px 0 0);
    background: rgba(255, 255, 255, 0.50);
    font-size: large;
  }
  > ul > li:first-child {
    font-size: larger;
    font-weight: bold;
  }

  > ul {
    padding: 0;
  }
  :hover > a:hover {
    background-color: getScheme("white");
    color: getScheme("inverseOn");
  }
  a,
  p:first-child,
  ul li {
    display: block;
    color: getScheme("inverseOn");
  }
}
