@charset "UTF-8";

// Remove Animations
body > .content,
body.modtools-page > .content {
  padding: 0;

  animation: none;
  -webkit-animation: none;
}
// Prevent Naut from hiding h1's in the RES text post preview box
.submit-page .content * h1 {
  display: block;
}

.submit-page .roundfield .title {
  color: getScheme("inverseOn");
  text-transform: none;
}
