@charset "UTF-8";

$initial-header-height: 200px;
$max-header-height: 420px;
$header-img-height: 1002px;
$header-img-width: 2556px;
$header-img-ratio: $header-img-width / $header-img-height;

#header {
  margin: 0;
  background: transparent;
  border: none;
}

// Header Image
body:before {
  background: url(%%headerimg%%) fixed no-repeat 50% 0;
  height: #{$initial-header-height};
  display: block;
  background-size: cover;
  content: "";
}

body {
  @include diagonal-background;
}
body.listing-page > .content {
  box-shadow: none;
}

#header {
  //background: url(%%headerimg%%) fixed no-repeat 50% 0;
  //background-color: black;
  height: #{$initial-header-height};
  //transition: height ease 1s 1s;
}
#header:hover {
  //max-height: 90vh;
}
@media screen and (min-width: 1920px) {
  #header {
    background-size: 1920px auto;
  }
  #header:hover {
    //height: calc(1920px / #{$header-img-ratio});
  }
}
@media screen and (min-width: 960px) and (max-width: 1920px) {
  #header {
    background-size: 100vw auto;
  }
  #header:hover {
    //height: calc(100vw / #{$header-img-ratio});
  }
}
@media screen and (max-width: 960px) {
  #header {
    background-size: 960px auto;
  }
  #header:hover {
    //height: calc(960px / #{$header-img-ratio});
  }
}


.res-nightmode #sr-header-area {
  background-color: rgba(0, 0, 0, 0.05);
}
.res-nightmode #header-bottom-right {
  background-color: transparent;
}

// Tab Menu
#header-bottom-left {
  height: 48px;
  background: rgba(0, 0, 0, 0.4);
}
#header .tabmenu {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
}
#header .tabmenu li a {
  padding: 8px;
}
#header .tabmenu li.selected a {
  padding: 8px 8px 6px;
}
#header .tabmenu li a,
.pagename a {
  text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
}
#header .tabmenu li a:hover,
.pagename a:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

// Header Tab Menu overflow
#header-bottom-left {
  white-space: nowrap;
}

// Header Icon/Snoo Replacement
#header-img.default-header,
#header-img,
#header-img.default-header:hover,
#header-img:hover {
  background: url(%%snoo-yuna%%) no-repeat;
  background-position:  0 0;
  background-size: 48px 48px;
}
