@charset "utf-8";

$header-color: #FFD6D3;
$secondary-color: #ECC6C3;
$white-color: #FFF;
$black-color: #000;
$active-color: #4059DB;
$tertiary-color: #B62E2E;
$gray-color: #CCC;
$linkinfo-color: #B3B3B3;
$linkinfo-background-color: #4C4C4C;
$title-color: #EEE;
$content-back-color: #222;
$content-editor-text-color: #DDD;
$box-shadow-color: rgba(0,0,0,0.16);
$nightmode-post-background-color: #262626;
$nightmode-text-color: #161616;
$nightmode-input-background-color: #AAA;
$gradient-color-0: #444;
$gradient-color-1: #4C4C4C;

@import 'Modules/Header';
@import 'Modules/Content';
@import 'Modules/Colour Scheme';
@import 'Modules/Text';
@import 'Modules/Sidebar';
@import 'Modules/Dynamic Sidebar';
@import 'Modules/Floating Navigation.scss';
@import 'Modules/Inline Spoilers';
@import 'Modules/Post Flairs';
@import 'Modules/User Flairs';
@import 'Modules/Image Macros';
@import 'Modules/Layout Adjustments';
@import 'Modules/Nautless';
